body {
    background: radial-gradient(83.68% 200.27% at 7.41% 8.42%, 
    rgba(254, 250, 213, 0.39) 0%, rgba(255, 248, 183, 0.44) 
    51.86%, rgba(255, 253, 231, 0.2) 100%); 
}

/* Add the following CSS rules */
html {
    scroll-behavior: smooth;
}
  
#contentContainer {
display: flex;
flex-direction: column;
align-items: center;
}

[id$="Tab"] {
min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
width: 100%; /* Set the width to 100% */
scroll-snap-align: start; /* Add this line to ensure that the sections align correctly when scrolling */
}
  
#topBarContainter {
    position: fixed;
    top: 5px;
    right: 20px;
    width: 600px;
    height: 100px;
    padding: 10px;
}

#topBar {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding-right: 60px;
}

.topBarIcon {
    padding-top: 10px;
    width: 22px;
    height: 22px;   
}

.topBarText {
    padding-left: 6px;
    padding-right: 30px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    /* or 250% */

    text-align: right;
    text-decoration-line: underline;

    /* Header */

    color: #B8B071;
}

#linkedinLink, #linkedinLink:visited, #mailLink, #mailLink:visited {
    color: #B8B071;
}
 

#homeTab {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

#homeImg {
    width: 395px;
    height: 472px;
    padding-left: 108px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


#nameText {
    width: 675px;
    height: 60px;
    position: absolute;
    left: 576px;
    top: 271px;
    padding-bottom: 30px;
    

    font-family: 'Lekton';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    /* or 40% */

    letter-spacing: 0.1em;

    /* Text */

    background: linear-gradient(180deg, #5E5B5B 0%, rgba(124, 123, 123, 0.94) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#occupationText {
    width: 434px;
    position: absolute;
    height: 70px;
    left: 576px;
    top: 337px;
    

    font-family: 'Lekton';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    /* or 55% */

    letter-spacing: 0.12em;

    background: linear-gradient(180deg, #5E5B5B 0%, rgba(124, 123, 123, 0.94) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#menuContainer {
    position: fixed;
    bottom: 200px;
    right: 400px;
    width: 300px;
    height: 100px;
    padding: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuItem {
    width: 564px;
    height: 58px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 58px;
    /* identical to box height, or 161% */

    text-align: right;
    text-transform: uppercase;

    /* Header */

    color: #B8B071;

    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
.menuItem:hover {
    transform: translateY(-5px);
    font-weight: bold;
}

#flower {
    bottom: 265px;
    right: 90px;
    position: fixed;
    z-index: 1;
    transition: top 0.5s, left 0.5s; /* Add this line to animate the movement */
      
}

#aboutTab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#aboutTitle, #projectsTitle, #experienceTitle{
    align-items: left;
    padding-left: 175px;
    padding-top: 100px;
    text-transform: uppercase;

}

.aboutText, .projectsText, .experienceText {
    padding-left: 131px;
    padding-right: 308px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */


    color: #707070;
}

h2 {
    font-family: 'Lekton';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 22px;
    /* or 40% */

    letter-spacing: 0.1em;

    /* Header */

    color: #B8B071;
}

.experienceElementTitle {
    font-family: 'Lekton';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    /* or 100% */

    text-align: right;
    letter-spacing: 0.1em;

    /* Header */

    color: #B8B071;
    text-transform: uppercase;
}

#experienceElementTitleWork {
    width: 147px;
    height: 0px;
    left: -3px;
    top: 358px;
}

.workElementContainer {
    width: calc(100vw - 370px);
    padding-bottom: 30px;
}

.workTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 175px;
    font-family: 'Lekton';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    /* or 96% */

    letter-spacing: 0.1em;

    color: #707070;
}

.workExperienceContainer {
    padding-left: 175px;
    margin: 0px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.8;
    /* or 125% */

    letter-spacing: 0.1em;

    color: #707070;
    margin-left: 30px;
}



#endSpace {
    height: 100px;
}